[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=blendmodes
X-Krita-Manual=README.html
X-Python-2-Compatible=false
Name=Bland Modes
Comment=Change layer blend mode.
