[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=savejpg
X-Krita-Manual=README.html
X-Python-2-Compatible=false
Name=Save JPG
Comment=Save current file as JPG.
