[Desktop Entry]
Icon=.icon/Animation-1080p-Minimal-En.png
Name=Animation-1080p-Minimal-En
Type=Link
URL[$e]=.source/Animation-1080p-Minimal-En.kra
X-KDE-Hidden=false
