[Desktop Entry]
Icon=.icon/_Animation-1080p-Simplified-En.png
Name=Animation-1080p-Simplified-En
Type=Link
URL[$e]=.source/_Animation-1080p-Simplified-En.kra
X-KDE-Hidden=false
